# Importing libraries

In [62]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [63]:
df = pd.read_csv("covid_cases.csv")
df.isnull().sum()

Date               3
Daily Confirmed    1
Total Confirmed    2
Daily Recovered    4
Total Recovered    4
Daily Deceased     2
Total Deceased     2
dtype: int64

In [66]:
df.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30-Jan,1.0,1,0.0,0.0,0,0.0
1,31-Jan,0.0,1,0.0,0.0,0,0.0
2,01-Feb,0.0,1,0.0,0.0,0,0.0
3,02-Feb,1.0,2,0.0,0.0,0,0.0
4,03-Feb,1.0,3,0.0,0.0,0,0.0

# Fixing Date Column

In [74]:
#starting date
df.Date.iloc[0]

'30-Jan'

In [73]:
#end date
df.Date.iloc[-1]

'13-May'

In [76]:
#total number of days
df.shape

(105, 7)

In [77]:
#creating new date column with start date and end date
df['new_date'] = pd.date_range(start="2020-01-30",end="2020-05-13")

In [83]:
df.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,new_date
0,30-Jan,1.0,1,0.0,0.0,0,0.0,2020-01-30
1,31-Jan,0.0,1,0.0,0.0,0,0.0,2020-01-31
2,01-Feb,0.0,1,0.0,0.0,0,0.0,2020-02-01
3,02-Feb,1.0,2,0.0,0.0,0,0.0,2020-02-02
4,03-Feb,1.0,3,0.0,0.0,0,0.0,2020-02-03

# Fixing Missing Values

In [85]:
df.isnull().sum()

Date               3
Daily Confirmed    1
Total Confirmed    2
Daily Recovered    4
Total Recovered    4
Daily Deceased     2
Total Deceased     2
new_date           0
dtype: int64

In [97]:
#filling null values with forward fill
df = df.fillna(method = "ffill")

In [98]:
df.isnull().sum()

Date               0
Daily Confirmed    0
Total Confirmed    0
Daily Recovered    0
Total Recovered    0
Daily Deceased     0
Total Deceased     0
new_date           0
dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             105 non-null    object
 1   Daily Confirmed  105 non-null    float64
 2   Total Confirmed  105 non-null    object
 3   Daily Recovered  105 non-null    float64
 4   Total Recovered  105 non-null    float64
 5   Daily Deceased   105 non-null    object
 6   Total Deceased   105 non-null    float64
 7   new_date         105 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 6.7+ KB

# Q1. Get the dates where daily confirmed cases are greater than 1500.

In [2]:
df.info()

NameError: name 'df' is not defined

Q1. Get the dates where daily confirmed cases are greater than 1500.
Q2. Get the dates where daily recovered cases are greater than 1500.
Q3. Get the average monthly daily confirmed cases.
Q4. Get the average monthly daily deceased cases.
Q5. Get the average monthly Total active cases.
Q6. Are there any outliers in the data? How would you process outliers?
Q7. Plot the daily confirmed cases as a trend line (time series).
Q8. Plot the daily active cases as a trend line (time series).
Q9. Plot Stacked barchart of confirmed, recovered, deceased cases for last 30 days.
Q10. Plot Stacked barchart of monthly Average confirmed, recovered, deceased cases.